<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">joseph angular test</h3>
</div>

<!--just here for the time being ... remove later -->
<div class="body" ng-controller="MainCtrl" >
  <div class="container">
    <div class="row">
      <div class="subject" >
        <p>{{fundList.fund.security}}</p>
      </div>

    </div>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
